@media (min-width:768) {
    .bd-masthead .lead {
        font-size: calc(1.275rem + .3vw);
    }
}

.flipe {
    content: url("../src/img/main.png");
}

@media (max-width:500px) {
    .flipe {
        content: url("../src/img/main-sec.png");
    }
}

.main-content {
    padding: 3rem 0;
}

.bd-masthead h1 {
    font-size: calc(1.525rem + 3.3vw);
    --bs-heading-color: var(--bs-empashis-color);
}

.bd-gutter {
    --bs-gutter-x: 3rem;
}

.text-recenter {
    text-align: center!important;
}